@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	/* Hide scrollbar for Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	/* Hide scrollbar for IE, Edge and Firefox */
	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
}

*,
*::before,
*::after {
	font-family: "Roboto", sans-serif;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin: 0;
}

*::-webkit-scrollbar {
	display: none;
}
.hover-underline-animation {
	display: inline-block;
	position: relative;
	will-change: transform;
	color: #000000;
}

.hover-underline-animation:after {
	content: "";
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 1px;
	bottom: 0;
	left: 0;
	background-color: #000000;
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

.gridContainer {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
	grid-template-rows: repeat(auto-fit, 260px);
	grid-auto-flow: dense;
	grid-gap: 0.2rem;
}

.content_layout > *:nth-child(1) {
	flex: 1 1 15%;
	min-width: 123px;
}
.content_layout > *:nth-child(2) {
	flex: 1 1 85%;
}
